*{
    margin: 0px;
    padding: 10px;
    width: device-width;
    height: device;

}
html{
    background-image: url(pexels-eberhard-grossgasteiger-1421903.jpg);
    background-size: cover;
    position: static;
}
.page{
    display: grid;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Courier New';
    font-weight: bold;
    font-style: normal;
}
button{
padding: 10px;
margin: 10px;
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
border-radius: 20px;
border: 10px;
font-size: x-large;
justify-items: center;
}
button:hover{
    background-color: brown;
}
p{
    color: aliceblue;
}
input{
    border-radius: 20px;
    background: transparent;
    color: aliceblue;
}
.grid{
    align-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    margin: 10px;
    padding: 10px;
}
a{
    color: rgb(0, 255, 191);
}
a:hover{
    color: rgb(238, 255, 0);
}