*{
    margin:0px;
    padding: 0px;
}
html{
    background-image: url(dark-hexagon-gaming-abstract-vector-background-with-colored-bright-flashes_156943-1522.jpg);
    background-size: cover;
}
.logo{
    background: transparent;
    color: rgb(255, 0, 221);
    font-family: 'Courier New', Courier;
    font-weight: bold;
    font-size: x-large;
    backdrop-filter: blur(10px);
}
.MENU{
    display: grid;
    float: left;
    height: 100vh;
    width: 140px;
    margin: 20px;
    padding: 0px;
    border-radius: 0px;
    backdrop-filter: blur(10px);
    background: transparent;
}
a{
    color: rgb(200, 255, 0);
}
A:hover{
    color: rgb(255, 0, 0);
    animation: alternate;
    animation-timing-function: 2s ease-in-out;
}
.about{
display: grid;
backdrop-filter: blur(10px);
justify-items: center;
width: 400px;
height:0px;
font-size: large;
background: transparent;
color: aliceblue;
}
h1{
    color: rgb(0, 255, 42);
    font-weight: bold;
    font-family: 'Courier New';
}
.mission{
    display: grid;
    justify-items: center;
    margin: 140px;
    width: device-width;
    height: 20px;
    background: transparent;
    padding: 20px;
}
.game{
    color: aliceblue;
    margin: 0px;
    padding: 2px;
    height: 100px;
    width: 400px;
    float: right;
    display: grid;
    backdrop-filter: blur(5px);
    font-size: large;
    background: transparent;
}
button{
    background-color: rgb(0, 243, 231);
    border-radius: 20px;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border: 0px;
}
button:hover{
    background-color: rgb(0, 17, 255);
}
.grid{
    float: left;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    display: grid;
}
.gaming{
    color: aliceblue;
    margin: 0px;
    padding: 2px;
    height: 100px;
    width: 500px;
    display: grid;
    backdrop-filter: blur(5px);
    font-size: large;
    background: transparent;
    float: none;
}
.pic{
    display: grid;
    backdrop-filter: blur(10px);
    justify-content: center;
    width: 400px;
    height: 100px;
    font-size: large;
    background: transparent;
    color: aliceblue;
    margin: 50px;
    padding: 20px;
    align-self: center;
    }
    .navbar{
        background-color: aliceblue;
        display: grid;
        float: right;
        height: 100vh;
        width: 140px;
        margin: 20px;
        padding: 0px;
        border-radius: 0px;
        backdrop-filter: blur(10px);
        background: transparent
    }
    marquee{
        animation-duration: 2s;
    }